---
import { PortableText } from "astro-portabletext";
import HeadingSubPage from "../blocks/HeadingSubPage.astro";
import NormalText from "../blocks/NormalText.astro";
import ulist3 from "../blocks/ulist3.astro";
import ListItemLevel3 from "../blocks/ListItemLevel3.astro";

const { data } = Astro.props;
const ptText = data.blocks[0].richText;
const ptComponents = {
  block: {
    h1: HeadingSubPage,
    normal: NormalText,
  },
  list: ulist3,
  listItem: ListItemLevel3,
};
---

<div>
  <PortableText value={ptText} components={ptComponents} />
</div>
