---
import Layout from "../layouts/subpage.astro";
---

<Layout title="Archives">
  <main>
    <section class="py-8">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <ul role="list" class="divide-y divide-gray-100">
          <li class="hover:shadow-lg transition-shadow">
            <a href="/volume-1" class="flex justify-between gap-x-6 py-5">
              <div class="flex gap-x-4">
                <img
                  class="flex-none border border-violet-200"
                  src="/images/journal-cover-thumb.jpg"
                  alt=""
                />
                <div class="min-w-0 flex-auto">
                  <p class="text-lg font-semibold leading-6 text-violet-800">
                    Vol. 1 (2023)
                  </p>
                  <p class="mt-1 truncate text-base leading-5 text-black">
                    <b>Published:</b> 16.03.2023
                  </p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
