---
import Layout from "../layouts/default.astro";
import { getComponent } from "../utilities/page-utilities";
import { getPageData } from "../utilities/sanity-utilities";

const { sections } = await getPageData("home-page");
---

<Layout>
  <main>
    {
      sections.map((section) => {
        const Component = getComponent(section.slug.current);
        return <Component data={section} />;
      })
    }
  </main>
</Layout>
