---
import Layout from "../layouts/default.astro";
import volumes from "../data/volumes";
import ShowIssues from "../components/ShowIssues.astro";
const no = Object.values(volumes).length;
const volume = volumes[no];
---

<Layout>
  <div
    class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20 pt-14"
  >
    <div
      class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-80 lg:-mr-96"
      aria-hidden="true"
    >
    </div>
    <div class="mx-auto max-w-7xl px-6 py-20 sm:py-32 lg:px-8">
      <div
        class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8"
      >
        <h1
          class="max-w-2xl text-4xl font-serif font-bold tracking-tight text-gray-900 lg:col-span-2 xl:col-auto"
        >
          Journal of Applied Engineering and Science (JAES)
        </h1>
        <div
          class="flex flex-col gap-4 mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1"
        >
          <p class="text-lg leading-8 text-gray-600">
            Journal of Applied Engineering and Science(JAES) is an international
            peer reviewed journal publishing under Pixous Publications. The
            journal aims to present innovative insights in the field of
            engineering and science.
          </p>
          <p class="text-lg leading-8 text-gray-600">
            The scope of Journal of Applied Engineering and Science includes
            publishing original research articles, review articles, case
            studies, and other scholarly works related to a particular field or
            disciplines. The scope of the Journal of Applied Engineering and
            Science includes :
          </p>
          <ul
            class="grid gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 text-base font-bold text-violet-900"
          >
            <li
              class="grid content-center bg-violet-200 text-black p-2 rounded-lg text-center"
            >
              Signal and Image Analysis
            </li>

            <li
              class="grid content-center bg-violet-200 text-black p-2 rounded-lg text-center"
            >
              Computer Graphics and Vision
            </li>
            <li
              class="grid content-center bg-violet-200 text-black p-2 rounded-lg text-center"
            >
              Customer Relationship Management
            </li>
            <li
              class="grid content-center bg-violet-200 text-black p-2 rounded-lg text-center"
            >
              Artificial Intelligence
            </li>
            <li
              class="grid content-center bg-violet-200 text-black p-2 rounded-lg text-center"
            >
              Computer Security and Safety
            </li>
            <li
              class="grid content-center bg-violet-200 text-black p-2 rounded-lg text-center"
            >
              Medical, Multimedia
            </li>
            <li
              class="grid content-center bg-violet-200 text-black p-2 rounded-lg text-center"
            >
              Industrial and other Applications
            </li>
            <li
              class="grid content-center bg-violet-200 text-black p-2 rounded-lg text-center"
            >
              Knowing Machines
            </li>
            <li
              class="grid content-center bg-violet-200 text-black p-2 rounded-lg text-center"
            >
              Emerging advances in IT and new application
            </li>
          </ul>
        </div>
        <img
          src="/images/journal-cover.jpeg"
          alt=""
          class="mt-10 mx-auto w-full max-w-sm rounded-2xl object-cover sm:mt-16 lg:mt-0 xl:row-span-2 xl:row-end-2 xl:mt-36"
        />
      </div>
    </div>
    <div
      class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"
    >
    </div>
  </div>
  <main>
    <section class="hero-content">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="py-10 space-y-10">
          <div class="space-y-1">
            <h1 class="text-3xl sm:text-4xl font-bold text-violet-950">
              Current Issue
            </h1>
            <div class="flex text-sm">
              <p class="px-4"><b>Vol. 1 (2023)</b></p>
              <p class="font-bold text-violet-400">|</p>
              <p class="pl-4"><b>Published:</b> 16.05.2023</p>
            </div>
          </div>
          <ShowIssues volume={volume} />
          <div class="flex justify-center">
            <a
              href={`/volumes/${no}`}
              class="text-sm font-semibold leading-6 text-violet-800"
              >More <span aria-hidden="true">→</span></a
            >
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8 sm:py-10">
        <div class="flex flex-col gap-10">
          <div class="flex flex-col gap-4 flex-1 leading-8">
            <h3 class="text-3xl font-bold text-violet-800">Aim and Scope</h3>
            <p>
              The aim of the Journal of Applied Engineering and Science (JAES)
              is to provide a platform for Academics, Researchers, and
              Professionals to share their work and ideas with a wider audience.
              The scope of the Journal of Applied Engineering and Science (JAES)
              includes publishing original research articles, review articles,
              case studies, and other scholarly works related to a particular
              field or discipline. The scope of the Journal of Applied
              Engineering and Science (JAES) also includes:
            </p>
            <ul role="list" class="mt-4 space-y-8 text-gray-600">
              <li class="flex gap-x-3">
                <svg
                  class="mt-1 h-5 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                    clip-rule="evenodd"></path>
                </svg>
                <span
                  ><b>Peer Review:</b> Rigorous peer-review process to ensure the
                  quality and accuracy of the research they publish. Open Access:
                  Operate on an open-access model, meaning that their content is
                  freely available to anyone with an internet connection.</span
                >
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="mt-1 h-5 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                    clip-rule="evenodd"></path>
                </svg>
                <span
                  ><b>Interdisciplinary Approach:</b> Aim to foster interdisciplinary
                  collaboration by publishing research from multiple disciplines.</span
                >
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="mt-1 h-5 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                    clip-rule="evenodd"></path>
                </svg>
                <span
                  ><b>Global Outreach:</b> Global outreach aim to disseminate research
                  to a wider audience beyond a particular region or country.</span
                >
              </li>
            </ul>
          </div>
          <div class="flex flex-col gap-4 flex-1 leading-8">
            <h3 class="text-3xl font-bold text-violet-800">
              Open Access Statement
            </h3>
            <p>
              Journal of Applied Engineering and Science (JAES) follows Gold
              Open Access: This policy makes articles immediately and
              permanently available online without any subscription or paywall
              barriers. The journal typically covers the costs of publication
              through article processing charges (APCs), which are paid by the
              author, their institution, or a funding agency. At the same time,
              authors who publish in Journal of Applied Engineering and Science
              (JAES) retain the copyright of their article.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
