---
import Layout from "../layouts/subpage.astro";
---

<Layout title="Submit Paper">
  <main>
    <section class="py-8">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <p class="text-center text-xl">New submission will open in two weeks</p>
      </div>
    </section>
  </main>
</Layout>
