---
import SiteFooter from "../components/SiteFooter";
import SiteHeader from "../components/SiteHeader.astro";
import InformationSection from "@components/authors-information/InformationSection.astro";
import PortableTextHomeWrapper from "@components/homepage/PortableTextHomeWrapper.astro";
import CurrentIssues from "@components/homepage/CurrentIssues.astro";
import Herosection from "@components/homepage/Herosection.astro";
import PeerReviewStatus from "@components/peer-review-policy/PeerReviewStatus.astro";
import PortableTextWrapper from "@components/peer-review-policy/PortableTextWrapper.astro";
import TeamSection from "@components/EditorialBoard/TeamSection.astro";
import ArchivesWrapper from "@components/archives/ArchivesWrapper.astro";
import SubmitWrapper from "@components/submit-paper/SubmitWrapper.astro";

export const getComponent = (slug) => {
  switch (slug) {
    case "hero-section":
      return Herosection;
    case "current-issue":
      return CurrentIssues;
    case "aim-and-scope":
      return PortableTextHomeWrapper;
    case "open-access-statement":
      return PortableTextHomeWrapper;
    case "peer-review-process":
      return PortableTextWrapper;
    case "peer-review-statuses":
      return PeerReviewStatus;
    case "publication-guidelines-for-reviewer":
      return PortableTextWrapper;
    case "publication-ethics-for-publishers":
      return PortableTextWrapper;
    case "publication-guidelines-for-authors":
      return InformationSection;
    case "editor-in-chief":
      return TeamSection;
    case "deputy-editor-in-chief":
      return TeamSection;
    case "publication-board-chair":
      return TeamSection;
    case "associate-editor":
      return TeamSection;
    case "board-of-editors":
      return TeamSection;
    case "archives":
      return ArchivesWrapper;
    case "submit-info":
      return SubmitWrapper;
    default:
      break;
  }
};
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixous Publications</title>
  </head>
  <body class="h-full">
    <SiteHeader />
    <slot />
    <div class="h-12"></div>
    <SiteFooter />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100 900;
    font-display: fallback;
    src: url(../assets/fonts/roboto-slab.woff2) format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: fallback;
    src: url(../assets/fonts/inter.woff2) format("woff2");
  }
  :root {
    font-family: "Inter", sans-serif;
  }

  .home-gradient-bg {
    background: radial-gradient(
        47.72% 108.66% at -12.1% 21.18%,
        rgba(129, 219, 219, 0.25) 24.27%,
        rgba(160, 232, 232, 0) 100%
      ),
      radial-gradient(
        76.64% 192.13% at 107.15% 116.7%,
        rgba(255, 178, 167, 0.25) 0%,
        rgba(201, 191, 255, 0.25) 74.61%
      ),
      #ffffff;
  }

  .home-gradient-bg::before {
    background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 18.69%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .home-gradient-bg::after {
    background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 18.69%,
      rgba(255, 255, 255, 0) 100%
    );
  }
</style>
