---
import Layout from "../../layouts/studio.astro";
export async function getStaticPaths() {
  return [{ params: { slug: "desk" } }];
}
---

<Layout>
  <div id="studio" class="h-full"></div>
</Layout>

<script>
  import config from "../../../sanity.config";
  import { renderStudio } from "sanity";

  renderStudio(document.getElementById("studio"), config);
</script>
